@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.un, .zero , .deux { animation: slideLeft 1s ease-in 0s 1 normal forwards; -webkit-animation: slideLeft 1s ease-in 0s 1 normal forwards;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.desc {
    animation: slideDown 1.5s ease-in 0s 1 normal forwards;
    -webkit-animation: slideDown 1.5s ease-in 0s 1 normal forwards;
}